@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
@import url('https://fonts.googleapis.com/css?family=Swanky+and+Moo+Moo');

body {
    background-color: #F2ced5;
    font-size:62.5%;
    height:100vh;
}

.f1 { font-family: 'Indie Flower', cursive; }
.f2 { font-family: 'Swanky and Moo Moo', cursive; }

.fs30 {font-size: 3rem;}
.fs16 {font-size: 1.6rem;}

.c1{color : #d0ccdf;}
.c2{color : #f2bbbf;}
.c3{color : #b59ba0;} /* Titre h1 */


#plus, #moins, #bravo { visibility: hidden;}

#bravo {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index:1;
  background-color:#F2ced5;;
  transition: all 0.5s ease;
}

input { 
    background-color: #f2bbbf;
    border: none;
 }

.btn { 
    background-color: #f2bbbf;
    color:#fff;
    border: solid #e98c93 1px;
    background-image: linear-gradient(to bottom, #F2BBBF, #BF9397);
    padding:10px 20px;
}

.btn:hover {
  color:#fff;
  transition: all 0.5s ease;
  border:1px solid #e2656e;
  background-color: #ea9097; 
  background-image: linear-gradient(to bottom, #ea9097, #9f6b6f);
}

.blinking{
	animation:blinkingText 0.6s infinite;
}
@keyframes blinkingText{
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

.bird {
    position:absolute;
    left:0;
    bottom:0;
}

    /* Typewriter #bravo */

    .typewriter p {
      overflow: hidden; /* Ensures the content is not revealed until the animation */
      border-right: .15em solid #b59ba0; /* The typwriter cursor */
      white-space: nowrap; /* Keeps the content on a single line */
      margin: 0 auto; /* Gives that scrolling effect as the typing happens */
      letter-spacing: .15em; 
      animation: typing 5s steps(50, end);
    }
    
    /* The typing effect */
    @keyframes typing {
      from { width: 0 }
      to { width: 100% }
    }
  

    /* HAMBURGER */

    @import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
*:focus {
  outline: none;
}

a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  opacity: 0.8;
  text-decoration: none;
  color:#d0ccdf;
}

/* nav toggle */
.nav-toggle {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  cursor: pointer;
  height: 2rem;
  left: 2rem;
  position: fixed;
  top: 2rem;
  width: 3.6rem;
  z-index: 2;
}
.nav-toggle:hover {
  opacity: 0.8;
}
.nav-toggle .nav-toggle-bar,
.nav-toggle .nav-toggle-bar::after,
.nav-toggle .nav-toggle-bar::before {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background:#b59ba0;
  content: "";
  height: 0.4rem;
  width: 100%;
}
.nav-toggle .nav-toggle-bar {
  margin-top: 0;
}
.nav-toggle .nav-toggle-bar::after {
  margin-top: 0.8rem;
}
.nav-toggle .nav-toggle-bar::before {
  margin-top: -0.8rem;
}
.nav-toggle.expanded .nav-toggle-bar {
  background: transparent;
}
.nav-toggle.expanded .nav-toggle-bar::after, .nav-toggle.expanded .nav-toggle-bar::before {
  background: white;
  margin-top: 0;
}
.nav-toggle.expanded .nav-toggle-bar::after {
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.nav-toggle.expanded .nav-toggle-bar::before {
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/* nav */
.nav {
  -webkit-transition: left 0.5s ease;
  -moz-transition: left 0.5s ease;
  -ms-transition: left 0.5s ease;
  -o-transition: left 0.5s ease;
  transition: left 0.5s ease;
  background: #f2bbbf;
  color: white;
  cursor: pointer;
  font-size: 2rem;
  height: 100vh;
  left: -20rem;
  padding: 6rem 2rem 2rem 2rem;
  position: fixed;
  top: 0;
  width: 20rem;
  z-index: 1;
}
.nav.expanded {
  left: 0;
}
.nav ul {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  list-style: none;
  margin: 0;
  padding: 0;
}


